@font-face {
    font-family: "overpass";
    src: url(./fonts/Overpass-VariableFont_wght.ttf) format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --body-background: hsl(216, 12%, 8%);
    --card-background: hsl(213, 19%, 18%);
    --card-secondary-background: hsl(216, 13%, 22%);
    --white: hsl(0, 100%, 100%);
    --orange: hsl(25, 97%, 53%);
    --text-clr: hsl(217, 12%, 63%);
    --text-font-size: 0.937rem;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 0;
    margin: 0;
    font-family: overpass, Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--body-background);
}

main {
    display: grid;
    grid-template-columns: minmax(300px, 400px);
    place-content: center;
    padding: 1em;
}

.card {
    background-color: var(--card-background);
    padding: 2em;
    border-radius: 2em;
}

.star-icon-container {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--card-secondary-background);
}

h1 {
    color: var(--white);
    font-size: 1.8rem;
}

p {
    color: var(--text-clr);
    line-height: 1.6;
    font-size: var(--text-font-size);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

input[type="radio"] {
    appearance: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--card-secondary-background);
    position: relative;
    margin: 0;
}

input[type="radio"]::before {
    font-size: var(--text-font-size);
    font-weight: 700;
    color: var(--text-clr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="radio"]:hover {
    background-color: var(--orange);
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: var(--white);
}

input[type="radio"]:checked::before,
input[type="radio"]:hover::before {
    color: var(--card-background);
}

input[type="radio"]:nth-child(1)::before {
    content: "1";
}

input[type="radio"]:nth-child(2)::before {
    content: "2";
}

input[type="radio"]:nth-child(3)::before {
    content: "3";
}

input[type="radio"]:nth-child(4)::before {
    content: "4";
}

input[type="radio"]:nth-child(5)::before {
    content: "5";
}

form > button {
    background-color: var(--orange);
    padding: 0.6em;
    font: inherit;
    font-weight: 700;
    border-radius: 2em;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

form > button:hover,
form > button:focus-visible {
    background-color: var(--white);
    cursor: pointer;
}

/*thank you card styles */

.thank-you-page {
    display: grid;
    justify-items: center;
    text-align: center;
}

.thank-you-page > img {
    padding-bottom: 1.8em;
}

.rating-para {
    line-height: 1.5;
    margin: 0;
    background-color: var(--card-secondary-background);
    border-radius: 1em;
    padding: 0.2em 1.2em;
    text-align: center;
    color: var(--orange);
}

.thank-you-page > h1 {
    margin-top: 1em;
    margin-bottom: 0;
}

.thank-you-para {
    margin-top: 0.6em;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--text-clr);
}

/*utility class for hiding elements*/
.hidden {
    display: none;
}

@media screen and (max-width: 400px) {
    .card {
        padding: 2em 1em;
    }
}
